lxml
PyQt5
requests
soupsieve==2.3.1
beautifulsoup4
simplemma
pyqtgraph
pyqtdarktheme
pystardict
bidict
flask
sqlalchemy
flask-sqlalchemy
charset-normalizer
slpp
mobi
pysubs2
sentence_splitter
pymorphy3
pymorphy3-dicts-ru
pymorphy3-dicts-uk
python-lzo
ebooklib
markdown
markdownify
readmdict
packaging
loguru
typing_extensions
