lxml
PyQt5
requests
soupsieve==2.3.1
beautifulsoup4
simplemma
pyqtgraph
pystardict
bidict
flask
sqlalchemy
flask-sqlalchemy
charset-normalizer
slpp
mobi
pysubs2
sentence_splitter
pymorphy2
pymorphy2-dicts-ru
pymorphy2-dicts-uk
python-lzo
ebooklib
markdown
markdownify
readmdict
packaging
typing_extensions
