[MASTER]
extension-pkg-whitelist=PyQt5, lxml
generated-members=PyQt5.QtCore.Qt.*, PyQt5.QtGui.QFont.*, PyQt5.QtCore.Qt.Key.*

[MESSAGES CONTROL]
disable=
    missing-docstring,
    trailing-whitespace,
    line-too-long,
    unused-import,
    invalid-name,
    unsubscriptable-object,
    missing-function-docstring,
    missing-module-docstring,
    wrong-import-order,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-public-methods,
    duplicate-code,
    no-else-return,
    consider-merging-isinstance,
    protected-access,
    too-many-statements,
    too-few-public-methods,
    broad-exception-caught,
    broad-exception-raised,
    unnecessary-lambda,
    too-many-branches,
    too-many-locals,
    too-many-lines,
    too-many-return-statements,
    f-string-without-interpolation,
    too-many-nested-blocks,
    attribute-defined-outside-init, # to be dropped
    use-maxsplit-arg,
    no-member # to be dropped, for various enum classes of PyQt5
