.
lxml
PyQt5
requests
soupsieve==2.3.1
beautifulsoup4
simplemma
pystardict
bidict
flask
gevent
charset-normalizer
slpp
mobi
sentence_splitter
pymorphy3
pymorphy3-dicts-ru
pymorphy3-dicts-uk
pysubs2
ebooklib
markdown
pyqtgraph
pyqtdarktheme
markdownify
readmdict
python-lzo
packaging
typing_extensions
loguru
pynput
