.
lxml
PyQt5
requests
soupsieve==2.3.1
beautifulsoup4
simplemma
pystardict
bidict
flask
sqlalchemy
flask-sqlalchemy
charset-normalizer
slpp
mobi
sentence_splitter
pymorphy2
pymorphy2-dicts-ru
ebooklib
pycountry
markdown
markdownify
readmdict
python-lzo; sys_platform == 'linux'
packaging
playsound==1.2.2
