.
lxml
PyQt5
requests
soupsieve==2.3.1
beautifulsoup4
simplemma
pystardict
bidict
flask
sqlalchemy
flask-sqlalchemy
charset-normalizer
slpp
mobi
sentence_splitter
pymorphy3
pymorphy3-dicts-ru
pymorphy3-dicts-uk
pysubs2
ebooklib
markdown
pyqtgraph
pyqtdarktheme
markdownify
readmdict
python-lzo==1.14; sys_platform != 'win32'
packaging
typing_extensions