[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=VocabSieve
GenericName=Sentence tool for Anki
Comment=A simple helper tool for adding sentence-based cards into Anki
Exec=vocabsieve
Icon=vocabsieve
Categories=Education;